body {
  font-family: Arial, sans-serif;
}

main {
  padding: 1em;
}

.online-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.online-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online-count-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #ffe563;
  color: #141414;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  font-family: Georgia, serif;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #ffcf63;
  transform: scale(1.05);
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
