html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3); /* Light transparency */
  border-top: 3px solid #D4AF37; /* Darker gold spinner */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
